body {
    margin: 0px;
}

.root-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    background-color: blue;
    height: 4rem;
}

.add-book-container {
    display: flex;
    justify-content: center;
    height: 10rem;
    background-color: yellow;
    align-items: center;
}

.add-book-form {
    border: 1px solid red;
    border-radius: 0.5rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 18rem;
    height: 10rem;
}



.books-container {
    display: flex;
    justify-content: center;
    height: 15rem;
    background-color: green;

}

.footer-container {
    display: flex;
    background-color: red;
    height: 4rem;
    justify-self: flex-end;
}
